{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
<head>
    {%- block head %}
    <title>{% block title %}{% endblock title %}</title>

    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}

    {%- block styles %}
    <!-- Bootstrap -->
    {% if debug %}
    <link href="/asset/bootstrap-3.2.0/css/bootstrap.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/asset/jquery-ui-1.11.0/jquery-ui.css">
    <link rel="stylesheet" href="/asset/bootstrap-select/dist/css/bootstrap-select.css"/>

    {% else %}
    <link href="/asset/bootstrap-3.2.0/css/bootstrap.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/asset/jquery-ui-1.11.0/jquery-ui.min.css">
    <link rel="stylesheet" href="/asset/bootstrap-select/dist/css/bootstrap-select.min.css"/>
    {% endif %}
    <link rel="stylesheet" href="/asset/style.css">
    <link rel="stylesheet" href="/asset/slider/css/slider.css">


    <style>
        {{additional_styles}}
    </style>
    {%- endblock styles %}

    {% block scripts_head -%}
    <script src="/asset/jquery-2.1.1.min.js"></script>
    <script src="/asset/bootstrap-3.2.0/js/bootstrap.min.js"></script>
    <script src="/asset/slider/js/bootstrap-slider.js"></script>
    <script src="/asset/jquery-ui-1.11.0/jquery-ui.min.js"></script>
    <script src="/asset/jquery.steps.js"></script>
    <script src="/asset/jquery.form.js"></script>
    <script src="/asset/jquery.validate.js"></script>
    <script src="/asset/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <script src="/asset/constraints.js"></script>
    <script src="/asset/filehandling.js"></script>

    {%- endblock %}
    {%- endblock head %}
</head>
<body{% block body_attribs %}{% endblock body_attribs %}>
{% block body -%}
{% block navbar %}
{%- endblock navbar %}


<div class="content">
    <div class="logo">
        <img src="/asset/cgs.png"/>
    </div>
    {% block content -%}{%- endblock content %}
</div>

{% block scripts %}

{%- endblock scripts %}
{%- endblock body %}
</body>
{%- endblock html %}
</html>
{% endblock doc -%}